<mat-card class="flex" >

  <mat-card class="flexRow">
  <mat-card-header>
    <mat-card-title>Created By</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngFor="let detail of details">
    <mat-card-subtitle>
      FullName: {{detail.created_by[0].fullname}}
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>Rounds</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngFor="let detail of details">
    <mat-card-subtitle>
      id: {{detail.rounds[0].id}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Name: {{detail.rounds[0].name}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Status: {{detail.rounds[0].status}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      id: {{detail.rounds[1].id}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Name: {{detail.rounds[1].name}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Status: {{detail.rounds[1].status}}
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="flexRow">
  <mat-card-header>
    <mat-card-title>Interview Details</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngFor="let detail of details">
    <mat-card-subtitle >
        Applied_Position: {{detail.interview[0].applied_position}}
    </mat-card-subtitle>
    <mat-card-subtitle >
      Excepted Salary:{{detail.interview[0].e_ctc}}
  </mat-card-subtitle>
  <mat-card-subtitle >
    Created_at: {{detail.interview[0].created_at}}
</mat-card-subtitle>
<mat-card-subtitle >
job Status: {{detail.interview[0].updated_at}}
</mat-card-subtitle>
<mat-card-subtitle >
  Status: {{detail.interview[0].status}}
</mat-card-subtitle>
<mat-card-subtitle >
  Comission_Type: {{detail.interview[0].comission_type}}
</mat-card-subtitle><mat-card-subtitle >
  Comission: {{detail.interview[0].comission}}
</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="flexRow">
  <mat-card-header>
    <mat-card-title>Candidate Details</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngFor="let detail of details">
    <mat-card-subtitle >
       Email Address: {{detail.candidate[0].email}}
    </mat-card-subtitle>
    <mat-card-subtitle >
     Mobile Number:{{detail.candidate[0].mobile}}
  </mat-card-subtitle>
  <mat-card-subtitle >
    Previous Employer: {{detail.candidate[0].prev_emp}}
</mat-card-subtitle>
<mat-card-subtitle >
job Status: {{detail.candidate[0].job_status}}
</mat-card-subtitle>
<mat-card-subtitle >
  Current Ctc: {{detail.candidate[0].current_ctc}}
</mat-card-subtitle>
<mat-card-subtitle >
  Notice_Periods: {{detail.candidate[0].notice_period}}
</mat-card-subtitle>
<mat-card-subtitle >
  Year_of_experince: {{detail.candidate[0].year_of_exp}}
</mat-card-subtitle>
<mat-card-subtitle>
  Technologies: {{detail.candidate[0].technologies}}
</mat-card-subtitle>
<mat-card-subtitle>
  <p>Avtar:</p>
  <img mat-card-image src="{{detail.candidate[0].avtar}}">
  Avtar: {{detail.candidate[0].avtar}}
</mat-card-subtitle>
<mat-card-subtitle>
  <p>Resume:</p>
  <img mat-card-image src="{{detail.candidate[0].resume}}">
  Resume: {{detail.candidate[0].resume}}
</mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="flexow" >
  <mat-card-header>
    <mat-card-title>Client</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngFor="let detail of details" >
  <mat-card-subtitle>
  <img mat-card-image src="{{detail.client[0].logo}}">
  logo: {{detail.client[0].logo}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    Name: {{detail.client[0].name}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    Link: {{detail.client[0].link}}
  </mat-card-subtitle>
  </mat-card-content>
</mat-card>

</mat-card>
