.flex{
  display: flex;
  width:80%;
  margin: auto;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  background-color: rgb(244, 246, 250);
  margin-top: 4%;
}

.flex> .flexRow{
  width: 20%;
  margin-right: 2%;
 }

